# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: ARM64 Debug Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:  
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: uraimo/run-on-arch-action@v2.5.1
      name: Run commands
      id: build
      with:
        arch: aarch64
        distro: ubuntu_latest

        dockerRunArgs: |
            --volume "${PWD}/src:/src"
        
        shell: /bin/sh

        install: |
         apt-get update
         apt-get install -y dotnet-sdk-7.0
         apt-get install -y g++
         apt-get install -y curl
         curl -fsSL https://aka.ms/install-artifacts-credprovider.sh
         dotnet new install GCC.Build.Template --interactive --nuget-source https://api.nuget.org/v3/index.json         

        run: |
         chmod u+x src/BuildLinuxDebug.sh
         bash src/BuildLinuxDebug.sh
         
    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
       name: joyramble-debug-arm64
       path: /home/runner/work/JoyRumble.NET/JoyRumble.NET/src/bin/LinuxDebug/
       if-no-files-found: warn
