# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: ARM64 Debug Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:  
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: uraimo/run-on-arch-action@v2.5.1
      name: Run commands
      id: runcmd
      with:
        arch: aarch64
        distro: ubuntu_latest

        dockerRunArgs: |
            --volume "${PWD}/src:/src"

        install: |
         apt-get update
         apt-get install -y dotnet-sdk-7.0
         apt-get install -y g++
         apt-get install -y curl
         curl -fsSL https://aka.ms/install-artifacts-credprovider.sh
         dotnet new install GCC.Build.Template --interactive --nuget-source https://api.nuget.org/v3/index.json         

        run: |
         dotnet build /p:Configuration=LinuxDebug src/JoyRumble.NET.sln
         
    - name: Show result
      run: |
       ls -al "${PWD}/src/bin/LinuxDebug"
         
    #- name: Setup .NET
    #  uses: actions/setup-dotnet@v3
    #  with:
    #    dotnet-version: 7.0.x
    #- name: Install template
    #  run: dotnet new install GCC.Build.Template
    #- name: Restore dependencies
    #  run: dotnet restore src/JoyRumble.NET.sln
    #- name: Build
    #  run: dotnet build /p:Configuration=LinuxDebug src/JoyRumble.NET.sln
    #- name: Test
    #  run: dotnet test --no-build --verbosity normal
